<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сообщения</title>
</head>
<body>
        <form th:action="@{/receiveData}" th:method="post">
            <label for="text">text:</label>
            <input type="text" id="text" name="text" placeholder="Введите текст....">
            <br>
            <label for="data">data:</label>
            <input type="date" id="data" name="data" placeholder="ГГММДД">
            <br>
            <button type="submit">Отправить данные в другой микросервис</button>
        </form>
</body>
</html>